/* ******************************************* */
/* Experience */
/* ******************************************* */
.job-info {
    list-style-type: none;
}

.company-name {
  font-weight: bold;
  font-size: 20px;
  color: #0D122B;
}

.role {
  /*color: #fdbb07;*/
}




/* ******************************************* */
/* SPDJI Experience */
/* ******************************************* */



/* ******************************************* */
/* AIP Experience */
/* ******************************************* */
