/* ******************************************* */
/* Repository Button */
/* ******************************************* */
.btn-light.repo-button {
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #0D122B;
}

/* ******************************************* */
/* Presentations */
/* ******************************************* */
.image-container-presentation {
  text-align: justify;
  width: 450px;
}

.image-container-presentation img {
  border-radius: 15px;
}

/* ******************************************* */
/* Codecademy */
/* ******************************************* */
.codecademy-container img {
  border-radius: 15px;
}

.about-button {
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #0D122B;
}

/* ******************************************* */
/* Free Code Camp  */
/* ******************************************* */
.freecodecamp-container img {
  border-radius: 15px;
}
