/* ******************************************* */
/* Navigation Bar and Header */
/* ******************************************* */
.navbar {
  background-color: blue;
}

.navbar-default .navbar-nav a {
 /*font-family: "Open Sans";*/
 font-size: 1.1rem;
 font-weight: bold;
}

@media only screen and (max-width: 768px) {
  nav img {
    display: none;
  }
}


/* ******************************************* */
/* Title Headers */
/* ******************************************* */
.tag-blue {
  color: #fdbb07;
  font-size: 45px;
  font-weight:bold;
  font-family: 'Montserrat', sans-serif;
}

.tag-white {
  font-size: 45px;
  font-weight: bold;
  color: #fdbb07;
  font-family: 'Montserrat', sans-serif;
}


/* ******************************************* */
/* Repository Button */
/* ******************************************* */
.repo-button {
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #0D122B;
}


/* ******************************************* */
/* Presentations */
/* ******************************************* */
.presentations {
  /*margin-top: 100px;*/
}

.image-container-presentation {
  /*padding-top: 50px;*/
  text-align: justify;
  width: 450px;
  /*position: relative;*/
  /*display: inline-block;*/
}

.image-container-presentation img {
  /*display: block;
  margin: 0 auto;*/
  border-radius: 15px;
}

.image-container-presentation:hover .text-presentation {
  /*background-color: #0073a4;
  border-radius: 15px;
  display: block;
  opacity: 10;
  transition: 0.5s ease;*/
}

.image-container-presentation .text-presentation {
  /*color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);*/
  /*text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 450px;
  /*width: 100%;
  height: 100%;*/
  /*display: none;*/

  /*color: black;*/
}

/* ******************************************* */
/* Codecademy */
/* ******************************************* */
.codecademy-container img {
  /*display: block;
  margin: 0 auto;*/
  border-radius: 15px;
}

.about-button {
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #0D122B;
}

/* ******************************************* */
/* Free Code Camp  */
/* ******************************************* */
.freecodecamp-container img {
  /*display: block;
  margin: 0 auto;*/
  border-radius: 15px;
}



/* ******************************************* */
/* Social Icons */
/* ******************************************* */
.footer-social-icons {
  display: block;
  padding-top: 45px;
}

.social-icons {
  color: #fff;
}

.social-icons li {
  display: inline;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}


.fa-linkedin {
  padding: 10px 14px;
  margin-right: 20px;
  margin-left: -50px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 12px;
  border: 1px solid #0073a4;
  color: #0073a4;
}

.fa-linkedin:hover {
  background-color: #0073a4;
  border: 1px solid #3d5b99;
  border-radius: 12px;
  color: #FFFFFF;
}

.fa-github {
    padding: 10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    border: 1px solid #3d5b99;
    border-radius: 12px;
    color: #3d5b99;
}

.fa-github:hover {
    background-color: #3d5b99;
    border: 1px solid #3d5b99;
    border-radius: 12px;
    color: #FFFFFF;
}


/* ******************************************* */
/* Footer */
/* ******************************************* */
.footer {
  position: absolute;
  right: 0;
  /*bottom: 0;*/
  left: 0;
  padding: 1rem;
  background-color: #0D122B;
}

footer .footer .fa-linkedin {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 12px;
  border: 1px solid #0073a4;
  /*color: #0073a4;*/
}

.footer .social-icons a {
  color: #fff;
  text-decoration: none;
  margin: 0px;
}
