/* ******************************************* */
/* Navigation Bar and Header */
/* ******************************************* */
/*.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #399bd1;
  color: blue;
}*/

.navbar-default .navbar-nav a {
 /*font-family: "Open Sans";*/
 font-size: 1.1rem;
 font-weight: bold;
}

@media only screen and (max-width: 768px) {
  nav img {
    display: none;
  }
}

nav .navbar-nav {
  /*margin-left: 1000px;*/
}

/*nav img {
  width: 300px;
  height: 200px;
}*/


/* ******************************************* */
/* Jumbotron */
/* ******************************************* */
.jumbotron {
  padding-top: 18rem;
  padding-bottom: 18rem;
  background-image: url("../images/jumbotron_1_black_overlay.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.jumbotron h1 {
  font-size: 130px;
}


/* ******************************************* */
/* About Me */
/* ******************************************* */
.container-fluid.about {
  margin-top: -33px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.container img {
  /*width: 100%;*/
  /*padding-right: 1000px;*/
}

.container-fluid .about-me-text {
  background-color: blue;
}

.container .about-me-pic {
  /*width: 1000px;*/
}

/*.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}*/
/*.container .pic {
  width: 100%;
}*/
/*.no-padding {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}*/
/*.col-xs-1,.col-sm-1,.col-lg-1,.col-md-1,.col-xs-2,.col-sm-2,.col-lg-2,.col-md-2,.col-xs-3,.col-sm-3,.col-lg-3,.col-md-3,.col-xs-4,.col-sm-4,.col-lg-4,.col-md-4,.col-xs-5,.col-sm-5,.col-lg-5,.col-md-5,.col-xs-6,.col-sm-6,.col-lg-6,.col-md-6,.col-xs-7,.col-sm-7,.col-lg-7,.col-md-7,.col-xs-8,.col-sm-8,.col-lg-8,.col-md-8,.col-xs-9,.col-sm-9,.col-lg-9,.col-md-9,.col-xs-10,.col-sm-10,.col-lg-10,.col-md-10,.col-xs-11,.col-sm-11,.col-lg-11,.col-md-11,.col-xs-12,.col-sm-12,.col-lg-12,.col-md-12
{ padding-left:0; padding-right:0;}*/


/* ******************************************* */
/* Experience */
/* ******************************************* */
.experience  {
  /*padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;*/
  /*width: 1000px;*/
  /*display: flex;*/
  background-color: #0D122B;
}
