<!--

personal_website/about.html
********************************************************************************
SALVADOR VILLALON PERSONAL WEBSITE
about.html

This page serves as the about page for Salvador Villalon


********************************************************************************

University of California, Irvine
Salvador Villalon's Personal Projects

Fall 2017
Continue Summer 2018
Salvador Villalon


 -->


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Salvador Villalon Personal Website</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type= "text/css" href=" {{ url_for('static', filename='css/about.css') }}">

  </head>
  <body>

    {% extends "layout.html" %}
    {% block content %}

    <!-- ******************************************* -->
    <!-- About Me Picture-->
    <!-- ******************************************* -->
    <div class="container-fluid text-center about-pic">
      <img class="img-responsive" src="{{ url_for('static', filename='images/height_667_about_me.jpg') }}">
    </div>




    <!-- ******************************************* -->
    <!-- About Me Text -->
    <!-- ******************************************* -->
    <div class="container-fluid about-columns">
      <div class="row">
        <div class="col-md-6 about-text">
          <div class="tag-blue">ABOUT SALVADOR VILLALON</div>
          <p>My name is Salvador Villalon and I am a Junior at the University of California, Irvine studying Computer Science</p>
          <p>My love for technology began when I designed and created my first website for the Administrative Intern Program. After finishing this project, I reliaze how important technology is. This project may have been small, but it was doing two important things that a Software Engineer always does. This website was introducing students to a program that can enhance their college and professional careers. At the same time, it was helping increase the brand and awareness of the Administrative Intern Program.</p>
          <p>I realize that this is exactly what a Software Engineer does. They create the tools that organizations and people need to move forward. Thanks to this project, it guided me on my goal of becoming a Software Engineer.</p>
        </div>
        <div class="col-md-6">
          <div class="tag-blue">CHANGE LOG</div>
          <table>
            <tr>
              <th>Date</th>
              <th>Event</th>
            </tr>
            <tr>
              <td class="date">Nov 2017</td>
              <td>Got my first internship offer with S&P Global as a Global Information Technology Intern in New York City!</td>
            </tr>
            <tr>
              <td class="date">Oct 2017</td>
              <td>Had a total of 12 interviews</td>
            </tr>
            <tr>
              <td class="date">Sept 2017</td>
              <td>Got my Web Development Certificate from Codecademy</td>
            </tr>
            <tr>
              <td class="date">Jul 2017</td>
              <td>Finally declared my Computer Scince Major!</td>
            </tr>
            <tr>
              <td class="date">Mar 2017</td>
              <td>Got accepted into Management Leadership for Tomorrow as a Career Prep Fellow</td>
            </tr>
            <tr>
              <td class="date">Feb 2017</td>
              <td>Became SHPE-UCI External Vice President</td>
            </tr>
            <tr>
              <td class="date">Feb 2017</td>
              <td>Created and designed my first website and realize that I wanted to become a Software Engineer</td>
            </tr>
            <tr>
              <td class="date">April 2016</td>
              <td>Hit Academic Probation, but turned out to be the best thing that ever happened to me</td>
            </tr>
            <tr>
              <td class="date">Mar 2016</td>
              <td>Attended Code2040's first ever Tech Trek and became on the first TAP Campus Ambassadors</td>
            </tr>
            <tr>
              <td class="date">Nov 2015</td>
              <td>Attended my first SHPE National Conference in Baltimore, Maryland!</td>
            </tr>
            <tr>
              <td class="date">Sept 2015</td>
              <td>Started my adventures at UC Irvine</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  {% endblock %}

  </body>
</html>
